{
    "tabWidth": 4,
    "useTabs": true,
    "trailingComma": "es5",
    "quoteProps": "preserve",
    "printWidth": 80,
    "endOfLine": "auto",
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}